<!DOCTYPE html>
<html>
  <head>
    <title>SportsForm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <nav class="navbar navbar-default">
    <%= link_to "Blog", root_path , Class:"navbar-brand" %>
    <%= link_to "Post Topic", new_message_path , Class:"navbar-brand" %>
  </nav>


    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
